[submodule "ext/codemirror"]
	path = ext/codemirror
	url = https://github.com/codemirror/codemirror5.git
[submodule "ext/bootstrap"]
	path = ext/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "ext/xtermjs"]
	path = ext/xtermjs
	url = https://github.com/xtermjs/xterm.js.git
