/*
 * Global variables
 */
:root {
    --matching-cl-pass: #198754;
    --matching-cl-error: #e35d6a;
    --matching-cl-correct: #f2dede;

    /* icons - variables can't be within url(), so some colors are duplicated */
    --bi-chevron-down: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
}
/*
 * Header elements
 */
.matching-c-title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

/*
 * Body elements
 */
.matching-l-choices {
    min-height: 3rem;
}

.matching-c-choice{
    background-color: white;
    cursor: grab;
}
.matching-c-choice:active {
    cursor: grabbing;
}
.matching-c-choice__dragging{
    opacity: 0.5;
}
.matching-c-answer {
    background-color: #DDDDDD;
}
.matching-c-answer p {
    /* Avoid creating dragenter/dragleave events when entering the <p> child of
     * an answer box. Otherwise, it messes with the highlighting. See:
     * https://stackoverflow.com/questions/7110353/html5-dragleave-fired-when-hovering-a-child-element */
    pointer-events: none;
}


/*
 * Control elements
 */

/* Feedback collapsing chevron */
.matching-c-feedback__toggle {
    border: none;
    width: 32px;
    height: 32px;
    background-image: var(--bi-chevron-down);
    background-repeat: no-repeat;
    background-size: 32px;
    background-color: transparent;
    transition: all 0.2s;
    transform: rotate(-180deg);
}
.matching-c-feedback__toggle:hover {
    border: none;
    background-color: transparent;
}
.matching-c-feedback__toggle.collapsed {
    transform: rotate(0);
}


/*
 * Feedback section
 */

.matching-c-feedback-correct {
    border: 0px solid;
    border-radius: .5rem;
    background-color: var(--matching-cl-correct);
    padding: .5rem;
    margin-bottom: 20px;
}

.matching-c-feedback-item {
    border: 0px solid;
    border-left-width: .5rem;
    border-radius: .25rem;
    padding: .5rem;
    margin-bottom: 2px;
}
.matching-c-feedback-item__pass {
    border-color: var(--matching-cl-pass);
}
.matching-c-feedback-item__error {
    border-color: var(--matching-cl-error);
}
